#container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

/* 공통 박스 스타일 */
#content, #recipe, #package {
  background-color: white;
  padding: 0px 50px 0px 10px;
  margin-bottom: 30px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 50px;
  padding-top: 10px;
}

/* 이미지 스타일 */
#content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h1, h2 {
  margin-bottom: 10px;
}

/* 표 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f5f5f5;
}

/* 박스 간격 */
#content { margin-bottom: 30px; }
#recipe { margin-bottom: 30px; }
#package { margin-bottom: 30px; }